<h2>Quản lý khoa: Khóa: {{course.course}} </h2>

<div>
    <button type="submit" routerLink="/admin/course-management" class="btn btn-info">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
    </button>
<div class="col-md-6">
    Thêm khoa:
    <select class="form-control" [(ngModel)]="departmentUUID" (change)="addDepartment()">
        <option value="null" disabled>Select a Value</option>
        <option  *ngFor="let department of dropdown" [ngValue]="department.uuid" selected="false">{{department.departmentName}}</option>
    </select>
</div>
</div>
<div class="table-responsive text-center" *ngIf="departments">
    <table class="table table-striped" aria-describedby="user-management-page-heading">
        <thead>
            <tr>
                <!-- <th scope="col"  jhiSortBy="uuid"><span>ID</span> <fa-icon icon="sort"></fa-icon></th> -->
                <th><span>Tên khoa</span>
                </th>
                <th><span>Tình trạng</span>
                </th>
                <th><span>Ngày tạo</span></th>
                <th><span>Ngày Cập nhật</span></th>
            </tr>
        </thead>
        <tbody *ngIf="departments">
            <tr *ngFor="let department of departments">
                <td>{{ department.departmentName }}</td>
                <td>
                    <button class="btn btn-danger btn-sm" *ngIf="!department.enable"
                        (click)="updateEnable(department.uuid,!department.enable)">Đã Dừng</button>
                    <button class="btn btn-success btn-sm" *ngIf="department.enable"
                        (click)="updateEnable(department.uuid,!department.enable)">Đang Hoạt Động</button>
                    <!--(click)=""-->
                </td>
                <td>{{ department.createdDate | date:'HH:mm:ss dd/MM/yyyy ' }}</td>
                <td>{{ department.updateDate | date:'HH:mm:ss dd/MM/yyyy ' }}</td>
                <td>
                    <div class="text-right">
                        <button type="button" (click)="delete(department.uuid)" class="btn btn-danger btn-sm">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="departments">
    <div class="row justify-content-center">
        <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
            [rotate]="true" [boundaryLinks]="true" (pageChange)="transition()"></ngb-pagination>
    </div>
</div>