<div class="text-center">
    <img src="./logo.png" width="30%" height="30%">
</div>
<form (ngSubmit)="seach()" [formGroup]="condition">
    <div class="row">
        <div class="col-md-8">
            <label>Loại phiếu</label>
            <select formControlName="typeReportId" class="form-control" (change)="seach()">
                <option *ngFor="let typeReport of typeReports" value="{{typeReport.id}}">{{typeReport.typeName}}
                </option>
            </select>
        </div>
    <div class="col-md-1">
        <label>Học Kỳ</label>
        <select formControlName="semester" class="form-control" (change)="seach()">
            <option *ngFor="let semester of [1,2,3,4]" value="{{semester}}">{{semester}}
            </option>
        </select>
    </div>
    <div class="col-md-2">
        <label>Năm học</label>
        <select formControlName="year" class="form-control" (change)="seach()">
            <option *ngFor="let semester of transform()" value="{{semester}}">{{semester}}
            </option>
        </select>
    </div>
</div>
</form>
<div class="table-responsive text-center" *ngIf="classList">
    <table class="table table-striped" aria-describedby="user-management-page-heading">
        <thead>
            <tr>
                <th>Khóa</th>
                <th>Khoa</th>
                <th>Lớp</th>
                <th>Số lượng tài khoản</th>
                <th>Số lượng phiếu</th>
                <th>Số phiếu đã duyệt</th>
            </tr>
        </thead>
        <tbody *ngIf="classList">
            <tr *ngFor="let class of classList">
                <td>{{ class.course }}</td>
                <td>{{ class.departmentName }}</td>
                <td><a (click)="routerLink(class.uuid)">{{ class.name }}</a></td>
                <td>{{ class.count }}</td>
                <td>{{ class.countReport }}</td>
                <td>{{ class.countAccepted3}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="classList">
    <div class="row justify-content-center">
        <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
            [rotate]="true" [boundaryLinks]="true" (pageChange)="transition()"></ngb-pagination>
    </div>
</div>