<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.username
                    }}".</span>
            </div>
        </div>
        <div class="text-center">
            <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="row">
                <a routerLink="admin/user-management" class="col btn btn-outline-success">
                    <img src="../../content/images/Accountmanager.png" width="80px" height="80px">
                    <br>   Quản lý tài khoản
                </a>
                <a routerLink="admin/role" class="col btn btn-outline-success">
                    <img src="../../content/images/RoleManager.png" width="80px" height="80px">
                    <br>   Quản lý quyền
                </a>
                <a  routerLink="admin/course-management" class="col btn btn-outline-success">
                    <img src="../../content/images/CourseManager.png" width="80px" height="80px">
                    <br>   Quản lý khóa
                </a>
                <a routerLink="admin/department-management" class="col btn btn-outline-success">
                    <img src="../../content/images/DepartmentManager.png"
                        width="80px" height="80px" routerLink="admin/role">
                        <br>   Quản lý khoa
                </a>
            </div>
            <div *jhiHasAnyAuthority="'ROLE_KHOA'" class="row">
                <a routerLink="khoa/course-department" class="col btn btn-outline-success">
                    <img src="../../content/images/Classmanager.png" width="80px" height="80px">
                    <br>    Quản lý lớp
                </a>
                <a routerLink="khoa/type-report" class="col btn btn-outline-success">
                    <img src="../../content/images/createReport.png" width="80px" height="80px">
                  <br>  Tạo phiếu
                </a>
                <a routerLink="khoa/report-manager" class="col btn btn-outline-success">
                    <img src="../../content/images/SendReport.png" width="80px" height="80px">
                    <br>   Phát phiếu
                </a>
                <a routerLink="khoa/accepted3" class="col btn btn-outline-success">
                    <img src="../../content/images/Report.png" width="80px" height="80px">
                    <br>  Duyệt phiếu lần 3
                </a>
            </div>
            <div *jhiHasAnyAuthority="'ROLE_GVHD'"  class="row">
                <a routerLink="giangvien/report" class="col btn btn-outline-success">
                    <img src="../../content/images/Report.png" width="80px" height="80px">
                    <br>  Duyệt phiếu lần 2
                </a>
            </div>
            <div *jhiHasAnyAuthority="'ROLE_SV'" class="row">
                <a *jhiHasAnyAuthority="'ROLE_CBL'" routerLink="canbolop/report" class="col btn btn-outline-success">
                    <img src="../../content/images/MoreReport.png" width="80px" height="80px">
                    <br>   Phiếu của lớp
                </a>
                <a routerLink="sinhvien/report" class="col btn btn-outline-success">
                    <img src="../../content/images/DoReport.png" width="80px" height="80px">
                    <br>   Phiếu đánh giá
                </a>
            </div>
        </div>
    </div>
</div>