<h2>Role manager </h2>
<div class="text-center">
    
    <form  (ngSubmit)="addNewRole()" [formGroup]="addForm">
        <div class="row">
            <div class="col-md-6">
                <input class="form-control" placeholder="Enter new role" formControlName="authorities">
            </div>
            <div class="col-md-3 row">
                <div class="col">
                    <button type="submit" [disabled]="!addForm.valid" onclick="return confirm('Do you want add it?');" class="btn btn-success">Add
                        new role</button>
                </div>
            </div>
        </div>
    </form>
    <div class="table-responsive text-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span>Role name</span>
                    </th>
                    <th><span>Action</span>
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="roles">
                <tr *ngFor="let role of roles">
                    <!-- <td>{{role.uuid}}</td> -->
                    <td>{{role.authorities}}</td>
                    <td>
                        <button type="button" (click)="deleteRole(role.authorities)" class="btn btn-danger btn-sm">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>