<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="user">
            <h2>
                <span>User</span> [<b>{{ user.username }}</b>]
            </h2>
            <div class="row">
            <dl class="col-md jh-entity-details">
                <dt><span>Username</span></dt>
                <dd>
                    <span>{{ user.username }}</span>
                    <jhi-boolean
                        [value]="user.activated ? true : false"
                        textTrue="Activated"
                        textFalse="Deactivated">
                    </jhi-boolean>
                </dd>

                <dt><span>First Name</span></dt>
                <dd>{{ user.firstName }}</dd>

                <dt><span>Last Name</span></dt>
                <dd>{{ user.lastName }}</dd>

                <dt><span>Email</span></dt>
                <dd>{{ user.email }}</dd>

                <dt><span>Created By</span></dt>
                <dd>{{ user.createdBy }}</dd>

                <dt><span>Created Date</span></dt>
                <dd>{{ user.createdDate | date:'dd/MM/yy HH:mm:ss' }}</dd>

                <dt><span>Update By</span></dt>
                <dd>{{ user.updateBy }}</dd>

                <dt><span>Update Date</span></dt>
                <dd>{{ user.updateDate | date:'dd/MM/yy HH:mm:ss' }}</dd>

                <dt><span>Role</span></dt>
                <dd>
                    <ul class="list-unstyled">
                        <li *ngFor="let authority of user.authorities">
                            <span class="badge badge-info">{{ authority }}</span>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="col-md jh-entity-details">
                <dt><span>About</span></dt>
                <dd>
                    <span>{{ user?.accountDetailDTO?.about }}</span>
                </dd>

                <dt><span>Phone Number</span></dt>
                <dd>{{user?.accountDetailDTO?.phoneNumber }}</dd>

                <dt><span>Name</span></dt>
                <dd>{{ user?.accountDetailDTO?.name }}</dd>

                <dt><span>Class</span></dt>
                <dd>{{ user|json }}</dd>

                <dt><span>Profiles</span></dt>
                <dd>
                    <ul class="list-unstyled">
                        <li *ngFor="let authority of user.authorities">
                            <span class="badge badge-info">{{ authority }}</span>
                        </li>
                    </ul>
                </dd>
            </dl>
</div>
            <button type="submit" routerLink="../../" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>
        </div>
    </div>
</div>
