<h2>Quản lý khóa: Khoa: {{department.departmentName}} </h2>
<button type="submit" routerLink="/admin/department-management" class="btn btn-info">
    <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
</button>
<div class="table-responsive text-center" *ngIf="courses">
    <table class="table table-striped" aria-describedby="user-management-page-heading">
        <thead>
            <tr>
                <!-- <th scope="col"  jhiSortBy="uuid"><span>ID</span> <fa-icon icon="sort"></fa-icon></th> -->
                <th><span>Tên khóa</span>
                </th>
                <th><span>Tình trạng</span>
                </th>
                <th><span>Ngày tạo</span></th>
                <th><span>Ngày Cập nhật</span></th>
            </tr>
        </thead>
        <tbody *ngIf="courses">
            <tr *ngFor="let course of courses">
                <td>{{ course.course }}</td>
                <td>
                    <button class="btn btn-danger btn-sm" *ngIf="!course.enable"
                        (click)="updateEnable(course.uuid,!course.enable)">Đã Dừng</button>
                    <button class="btn btn-success btn-sm" *ngIf="course.enable"
                        (click)="updateEnable(course.uuid,!course.enable)">Đang Hoạt Động</button>
                    <!--(click)=""-->
                </td>
                <td>{{ course.createdDate | date:'HH:mm:ss dd/MM/yyyy' }}</td>
                <td>{{ course.updateDate | date:'HH:mm:ss dd/MM/yyyy' }}</td>
                <td>
                    <div class="text-right">
                        <button type="button" (click)="delete(course.uuid)"
                        class="btn btn-danger btn-sm">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="courses">
    <div class="row justify-content-center">
        <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
            [rotate]="true" [boundaryLinks]="true" (pageChange)="transition()"></ngb-pagination>
    </div>
</div>